<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./static/css/bootstrap.min.css"/>
<link rel="stylesheet" href="./static/css/bootstrap-theme.min.css"/>
<head>
<title>accesso Ping Pong Ladder</title>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--<script src="./static/js/bootstrap.min.js"></script>-->
</head>
<body>

<div class="container" ng-app="myApp">
  <div class="row">
    <div class="col-lg-12" ng-controller="loginCtrl">
    <h1 class="text-center">accesso Ping Pong Ladder&nbsp;<a href="rules.html">(Rules)</a></h1>
      <div class="pull-right" ng-hide="loggedInUser" ng-cloak>
        <input ng-model="loginForm.username" placeholder="username" type="text"/>
        <input ng-model="loginForm.password" placeholder="password" type="password"/>
        <button type="button" ng-click="login();" class="btn btn-success">Log In</button>
      </div>
        <div class="row" ng-show="loggedInUser" ng-cloak>
          <div class="col-md-2 col-xs-4">
            {{ (loggedInUser)? loggedInUser.name : '' }}
          </div>
          <div class="col-md-2 col-xs-4">
              {{ (loggedInUser)? loggedInUser.numWins : '' }} Wins, {{ (loggedInUser)? loggedInUser.numLosses : '' }} Losses
          </div>
          <div class="col-md-2 col-md-offset-6 col-xs-4 btn btn-danger" ng-click="logout();">
              Log Out
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-controller="rankCtrl">
    <h1>Ladder</h1>
    <table class="table table-responsive" style="white-space: nowrap;">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="player in players">
        <td>{{ $index+1 }}</td>
        <td>{{ player.user.name }}</td>
        <td>
            <div class="btn btn-primary"
                 ng-click="createChallenge(player.user.id);"
                 ng-show="loggedInUser != null && loggedInUser.rankId > player.id && loggedInUser.rankId - 3 <= player.id && !challenged(player.id)"
                 ng-disabled="!canChallenge(player.id)"
                 ng-cloak>Challenge Player</div>
            <div class="btn btn-success"
                 ng-click="createChallenge(player.user.id);"
                 ng-show="loggedInUser != null && loggedInUser.rankId > player.id && loggedInUser.rankId - 3 <= player.id && !challenged(player.id)"
                 ng-disabled="!canChallenge(player.id)"
                 ng-cloak>Report Match Result</div>
        </td>
      </tr>
      </tbody>
    </table>
    </div>

      <div class="col-lg-6" ng-controller="matchCtrl">
        <h1>Recent Matches</h1>
        <table class="table table-responsive" style="white-space: nowrap;">
          <thead>
          <tr>
            <th>Match Time</th>
            <th>Challenger</th>
            <th>Result</th>
            <th>Opponent</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="match in matches">
            <td>{{match.matchTimestamp}}</td>
            <td ng-class="{ 'success' : match.creatorUser.id === match.victorUser.id,
                            'danger' : match.creatorUser.id !== match.victorUser.id }">
                {{match.creatorUser.name}}
            </td>
            <td>{{match.creatorScore}} - {{match.opponentScore}}</td>
            <td ng-class="{ 'success' : match.opponentUser.id === match.victorUser.id,
                            'danger' : match.opponentUser.id !== match.victorUser.id }">
                {{match.opponentUser.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6" ng-controller="userMatchCtrl" ng-show="loggedInUser">
        <h1>My Matches</h1>
        <table class="table table-responsive" style="white-space: nowrap;">
          <thead>
          <tr>
            <th>Match Time</th>
            <th>Challenger</th>
            <th>Result</th>
            <th>Opponent</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="match in matches">
            <td>{{match.matchTimestamp}}</td>
            <td ng-class="{ 'success' : match.creatorUser.id === match.victorUser.id,
                            'danger' : match.creatorUser.id !== match.victorUser.id }">
                {{match.creatorUser.name}}
            </td>
            <td>{{match.creatorScore}} - {{match.opponentScore}}</td>
            <td ng-class="{ 'success' : match.opponentUser.id === match.victorUser.id,
                            'danger' : match.opponentUser.id !== match.victorUser.id }">
                {{match.opponentUser.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<script>
var app = angular.module('myApp', []);
var testURL = "http://192.168.2.46:4567";
var localURL = "http://localhost:4567";
app.baseURI = localURL;
app.factory('loginService', function ($rootScope) {
    this.loggedInUser = null;

    return {
        getLoggedInUser: function() {
            return this.loggedInUser;
        },
        setLoggedInUser: function(value) {
            this.loggedInUser = value;
            $rootScope.$broadcast('LOGIN');
        }
    };
});
app.controller('rankCtrl', function($scope, $http, loginService) {
    $scope.loggedInUser = loginService.getLoggedInUser();
    $scope.$on('LOGIN', function(response) {
        $scope.loggedInUser = loginService.getLoggedInUser();
        if ($scope.loggedInUser !== null) {
            $http.get(app.baseURI+"/matches/user/challenges/"+$scope.loggedInUser.id)
                    .then(function (response) {$scope.challenges = response.data; console.log($scope.challenges)});
        }
    });
    $http.get(app.baseURI+"/ranking")
    .then(function (response) {$scope.players = response.data; console.log($scope.players)});
    $scope.createChallenge = function(opponentUserId) {
        $http.post(app.baseURI+"/matches", {
            "creatorUserId": $scope.loggedInUser.id,
            "opponentUserId": opponentUserId
        })
            .then(function (response) {
                $scope.loginForm = {};
            });
    };
    $scope.challenged = function(opponentUserId) {
        // check challenges for player id
        return true;
    };
    $scope.canChallenge = function(opponentUserId) {
        // check match history for recent match using player id
        return true;
    };
});
app.controller('matchCtrl', function($scope, $http, loginService) {
    $scope.loggedInUser = loginService.getLoggedInUser();
    $scope.$on('LOGIN', function(response) {
        $scope.loggedInUser = loginService.getLoggedInUser();
    });

    $http.get(app.baseURI+"/matches?limit=10")
    .then(function (response) {$scope.matches = response.data; console.log($scope.matches)});
});
app.controller('userMatchCtrl', function($scope, $http, loginService) {
    $scope.loggedInUser = loginService.getLoggedInUser();
    $scope.$on('LOGIN', function(response) {
        $scope.loggedInUser = loginService.getLoggedInUser();
        if ($scope.loggedInUser !== null) {
        $http.get(app.baseURI+"/matches/user/"+$scope.loggedInUser.id)
            .then(function (response) {$scope.matches = response.data; console.log($scope.matches)});
        }
    });

});
app.controller('loginCtrl', function($scope, $http, loginService) {
    $scope.loggedInUser = loginService.getLoggedInUser();
    $scope.$on('LOGIN', function(response) {
        $scope.loggedInUser = loginService.getLoggedInUser();
    });
    $scope.loginForm = {};
    $scope.login = function() {
//        $http.post(app.baseURI+"/login", $scope.loginForm)
//        .then(function (response) {
//            loginService.setLoggedInUser(response.data);
//            $scope.loginForm = {};
//        });
        loginService.setLoggedInUser({"id":21,"name":"John Fonte","email":"john.fonte@accesso.com","adminFlag":"1","activeFlag":"1","numWins":4,"numLosses":5,"rankId":25});
        $scope.loginForm = {};
    };
    $scope.logout = function() {
        loginService.setLoggedInUser(null);
        $scope.loginForm = {};
    };
});

</script>

</body>
</html>
